@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.create-post{
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ),
  url("https://img.freepik.com/free-photo/minimal-work-space-creative-flat-lay-photo-workspace-desk-with-sketchbook-wooden-pencil-copy-space-white-background-top-view-flat-lay-photography_1253-995.jpg?t=st=1658165912~exp=1658166512~hmac=5a59a0f1939428dfa1d6809380eb13b87d2d69c0f87b741cc34fb8b3806531eb&w=740");
  background-size: cover;
  font-family: 'Cinzel', serif;
}

.create-post-title {
  font-size: 30px;
  text-align: center;
  color:rgb(114, 112, 112);
}

.create-post-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.create-post-form > label {
  margin: 10px 0;
}

.input-create-post {
  padding: 10px;
  background-color: white;
  border: 1px solid rgb(182, 175, 175);
  border-radius: 15px;
}

.textarea-create-post {
  padding: 10px;
  background-color: white;
  border: 1px solid rgb(182, 175, 175);
  border-radius: 15px;
  resize: none;
}

.create-post-btn {
  margin-top: 20px;
  cursor: pointer;
  background-color: #2E8BC0;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.create-post-error {
  color: red;
  border: 1px solid red;
  padding: 5px;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

@media screen and (max-height: 414px) {
  .create-post-title {
    font-size: 20px;
    text-align: center;
  }
  .input-create-post {
    padding: 8px;
  }
  .create-post {
    height: 120vh;
  }
}