@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.link-container {
  display: flex;
  padding: 20px;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  font-size: 22px;
  justify-content: center;
  gap: 50px;
  font-family: 'Cinzel', serif;
}

.link-home, .link-posts, .link-register, .link-login,
.link-create-post, .link-logout, .link-user {
  color: white;
  text-decoration: none;
}

.link-home:hover, .link-posts:hover:hover, .link-register:hover, .link-login:hover,
.link-create-post:hover, .link-logout:hover, .link-user:hover {
  color: #d6c045;
  transition: color 0.5s ease-in-out;
  cursor: pointer;
}

.link-auth {
  display: flex;
  gap: 50px;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 740px) {
  .link-container {
    font-size: 14px;
    padding: 18px;
    align-items: center;
    gap: 15px;
  }
  .link-auth {
    gap: 15px;
  }
}

.navbar-logo {
  width: 30px;
  height: 30px;
  color: white;
}